fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
mysql-connector-python
jinja2
python-multipart
requests
python-dotenv
beautifulsoup4
lxml
fake-useragent
gunicorn
bcrypt
passlib[bcrypt]
itsdangerous
